<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <title>MYOB test</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/input.css" />
    <link rel="stylesheet" type="text/css" href="/css/react-select.css" />
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!--toastr-->
    <script src="/js/toastr.min.js"></script>
    <!--bootbox-->
    <script src="/js/bootbox.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
    <div id="react-root"></div>
    <script src="/dist/bundle.js"></script>
</body>

</html>